/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    padding: 30px 0;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    background-color: #fff;
  }
  
  #header #logo {
    float: left;
  }
  
  #header #logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 6px 0;
    line-height: 1;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  #header #logo img {
    padding: 0;
    margin: 0;
    margin-top: -13px;
  }
  
  @media (max-width: 768px) {
    #header #logo h1 {
      font-size: 26px;
    }
    #header #logo img {
      max-height: 40px;
    }
  }
  
  #header.header-fixed {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px 0;
    height: 72px;
    transition: all 0.5s;
  }
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/

  #hero {
    width: 100%;
    height: 100vh;
    background: url(../img/bg.png) top center;
    background-size: cover;
    position: relative;
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
      .row .col:first-child{
        padding-right: 30px;
      }
    }
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 960px;
    }
  }
  
  
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    padding-top: 140px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    .row .col:last-child{
      flex: 0 0 400px;
    }
  }
  
  #hero h1 {
    margin: 30px 0 10px 0;
    font-size: 44px;
    font-weight: 700;
    line-height: 56px;
    color: #000;

  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  }
  
  #hero h2 {
    color: #000;
    margin-bottom: 50px;
    font-weight: 300;
    margin-top: 50px;
    font-size: 16px;
    line-height: 20.8px;
  }
  
  @media (max-width: 768px) {
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }


  #hero img.maxteron-pote{
    margin-left: -55px;
    position: absolute;
  }

  #hero .list-items{
    position: absolute;
    margin-left: 230px;
    margin-top: 30px;
    list-style: none;
    white-space: nowrap;
    li{
      margin-top: 20px;
      position: relative;
      &:before{
        content: " ";
        position: absolute;
        border-radius: 35px;
        left: -40px;
        top: -3px;
        height: 30px;
        width: 30px;
        background-color: #ff1500;
      }
      &:nth-child(2):before{
        background-color: #ff4a00;
      }
      &:nth-child(3):before{
        background-color: #ff6a00;
      }
      &:nth-child(4):before{
        background-color: #ff7f00;
      }
      &:nth-child(5):before{
        background-color: #fd9223;
      }
      &:nth-child(6):before{
        background-color: #fbb55f;
      }
    }
  }


  @media (max-width: 767.98px) {
    #hero {
      height: auto;
      background-position: right;
      h2{
        margin-top: 25px;
      }
      .hero-container{
        text-align: center;
        padding-top: 80px;
        justify-content: normal;
        position: initial;
        .container{
          > .row{
            .col:last-child{
              text-align: left;
              flex: auto;
            }
          }
          img.maxteron-pote{
            margin-left:0;
            margin-top: 45px;
            position: initial;
            width: 50%;
          }
          .list-items{
            position: absolute;
            top: 0;
          }
        }
      }
      .list-items{
        margin-left:200px;
        white-space: normal;
      }
    }
  }
